body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:98%; left: 1%; right: 1%;}

.mapboxgl-marker.gt.sm {
  margin: -1em;
  border:1px solid gray;
  background-color:green;
  opacity: 0.6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mapboxgl-marker.gt.md {
  margin: -1em;
  border:1px solid gray;
  background-color:green;
  opacity: 0.6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.mapboxgl-marker.gt.lg {
  margin: -1em;
  border:1px solid gray;
  background-color:green;
  opacity: 0.6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.mapboxgl-marker {
  margin: -1em;
  border:1px solid gray;
  background-color: green;
  opacity: 0.6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mapboxgl-marker.sm {
  margin: -1em;
  border:1px solid blue;
  background-color: blue;
  opacity: 0.6;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mapboxgl-marker.md {
  margin: -1em;
  border:1px solid blue;
  background-color: blue;
  opacity: 0.6;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.mapboxgl-marker.lg {
  margin: -1em;
  border:1px solid blue;
  background-color: blue;
  opacity: 0.6;
  width: 55px;
  height: 50px;
  border-radius: 50%;
}

.marker  span {
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 30px;
  height: 30px;
  color:#fff;
  background: #693;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
  transform-origin:0 0;
  transform: rotateZ(-135deg);
}

.marker b {transform: rotateZ(135deg)}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
