body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:98%; left: 1%; right: 1%;}

.mapboxgl-marker {
  margin: -3em;
  /*border:1px solid gray;
  background-color:green;
  opacity: 0.6; */
  background-image: url("../../images/markers/pc-r.png");
  width: 100px;
  height: 57px;
}

.marker b {transform: rotateZ(135deg)}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
